@import url('https://fonts.googleapis.com/css?family=Barrio|Caveat+Brush');

body {
  margin: 0;
  padding: 0;
  font-family: 'Caveat Brush', cursive;
  background-color: rgba(255, 185, 151, 0.19);
  color: #0B032D;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barrio', cursive;
}
